<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Node.js upload images</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="src/views/css/main.css" />
    <!-- <style>
      div.preview-images > img {
        width: 30%;
      }
      .photo{
    width: 30%;
    }
    </style> -->
  </head>
  <body>
    <div class="navbar">
      <div style="width: 100%;" >
          
            <h4 style="float:left; color: white;">We are Here</h4>
            <form
              style="float:right; width: 50%;"
              action="/upload"
              method="POST"
              enctype="multipart/form-data"
            >
              <div class="form-group" style="float:left; padding-left: 2%;" >
                <input
                  type="file"
                  name="file"
                  id="input-files"
                  class="form-control-file border"
                />
              </div>
              <button type="submit" class="btn btn-primary" style="float: right">Submit</button>
            </form>
          
        
        <hr />
        <div class="row">
          <div class="col-sm-12">
            <div class="preview-images"></div>
          </div>
        </div>
      </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="src/views/js/load.js"></script>
    <div>
  </div>
  <div id="imageContainer"></div>
  </body>
</html>
